<div class="well span pin_block top_margin" id="<%= dom_id(pin) %>">
  <%= link_to "Купить", pin.url, class: "btn btn-warning",target: :blank%><br><br>
  <%= image_tag(pin.image_url(:thumb), class: "thumbnail") if pin.image? %>
  <h6 class="well pin_title">
    <%=pin.title%>
  </h6>

  <% if pin.user.avatar? %>
   <%= link_to user_url(pin.user) do %>
      <%= image_tag(pin.user.avatar_url(:small), class: "small_ava") %>
    <% end %>
  <%end%>
  <%= link_to pin.user.full_name, user_url(pin.user) %>
  <div class = 'clear'></div>
  <div class="page-header bottom_margin"></div>

  <div class='comments_container'>
    <%= render 'comments/comments', pin: pin %>
    <%= render 'comments/add_comment_action', pin: pin if user_signed_in? %>
  </div>
</div>
