<h2>Добавление нового ПИНа</h2>

<%= form_for @pin, :html => {:multipart => true} do |f| %>

  <div><%= f.label :title, "Название" %><br />
  <%= f.text_field :title, :autofocus => true %></div>

  <div><%= f.label :image, "Фото" %><br />
  <%= f.file_field :image %></div>

  <div><%= f.label :category_ids, 'Категория' %><br />
    <%= f.collection_select(:category_ids, Category.all,
                  :id, :title, {:prompt => 'Выберите категорию'})%></div>

  <div><%= f.label :price, "Цена" %><br />
  <%= f.text_field :price %></div>

  <div><%= f.label :url, "Ссылка" %><br />
  <%= f.text_field :url %></div>

  <div><%= f.submit "Добавить", class: "btn btn-info" %>
  </div>
<% end %>
