<div class="well top_margin">
  <p>
    <%if @user.avatar? %>
      <%= link_to image_tag(@user.avatar_url(:small),class: "small_ava thumbnail avatar_left"), user_url(@user)  %>
    <%end%>
    <%= link_to  [@user.first_name,@user.last_name].join(' '), user_url(@user) %> 
    <% if current_user.friendships.find_by_friend_id(@user)== nil %>
      <% unless @user == current_user %>
        <%= link_to  "Подписаться", friendships_path(friend_id: @user), method: "post", class: 'btn btn-danger pull-right' %> 
      <% end %>
    <% else %>
       <%= link_to  "Отписаться", friendship_url(@user), method: "delete", class: 'btn btn-danger pull-right' %> 
    <% end %>
  </p>
  <% @pins = @user.pins %>
  <% @pins.each do |pin| %>
  <%= render 'shared/pins_show', pin: pin  %>
  <% end %>
</div>
