<div class="well span pin_block top_margin">
  <%= link_to "Купить", pin.url, class: "btn btn-warning"%><br><br>
  <%= image_tag(pin.image_url(:thumb), class: "thumbnail") if pin.image? %>
  <h6 class="well pin_title">
	    <%=pin.title%>
  </h6>
  <% if @users[pin.user_id-1].avatar? %>
  	<%= link_to image_tag(@users[pin.user_id-1].avatar_url(:small),class: "small_ava"), user_url(@users[pin.user_id-1])%>
  	<%end%>
  	<%= link_to @users[pin.user_id-1].first_name, user_url(@users[pin.user_id-1]) %>
</div>