 <% if user_signed_in? %>
  <%#= render 'shared/signed_user'%>
<% else %>
  <%= render 'shared/unsigned_user'%>
<% end %>
<div id="newPinModal" class="modal fade">
</div>
<div id="urlModal" class="modal fade">
</div>

<div id='paginator'>
  <%#= paginate @pins, params: { controller: 'pins', action: 'load' },
    param_name: :pins_page, remote: true %>
</div>
<div id="pins_contein">
  <%= render 'pins/pins', pins: @pins %>
</div>

<nav id="page-nav">
  <% if @category.present? %>
    <%= link_to '',load_pins_url(pins_page:2, category_id: @category.id)%>
  <% else %>
    <%= link_to '',load_pins_url(pins_page:2)%>
  <% end %>
</nav>

<%= content_for :javascript_code do %>
    MasonaryLoad.load();
    CommentsManagement.initialize();
<% end %>