<% if user_signed_in? %>
  <%= render 'shared/signed_user'%>
<% else %>
  <%= render 'shared/unsigned_user'%>
<% end %>
<div>
	<h3> Все новости </h3>
</div>

<div id='paginator'>
  <%= paginate @pins, params: { controller: 'pins', action: 'load' },
    param_name: :pins_page, remote: true %>
</div>

<div id='allpins'>
	<%= render 'pins/pins', pins: @pins %>
</div>

<%= content_for :javascript_code do %>
  CommentsManagement.initialize();
<% end %>