#encoding: utf-8
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PinClone" %></title>
    <%= csrf_meta_tags %>
    <%= render "shared/components/favicon" %>
  </head>
  <body>
    <%= render "shared/components/nav_bar" %>
    <div class="container">
      <div class="row">
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <%= render "shared/components/side_bar" %>
    </div>
      <%= render "shared/components/footer" %>
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
